body {
  margin: 0;
  padding: 0;
  --color-azul: #2196f3;
  --color-negro: #212121;
  font-family: "Roboto", "arial", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
}

/* Aqui comienza el header*/

.top-page {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.top-nav {
  min-width: 520px;
  display: flex;
  align-items: center;
  margin-left: 215px;
}

.top-nav ul {
  margin: 0;
  padding: 0;
}

.top-page-button {
  display: inline-block;
}

.logo {
  width: 145px;
  height: 31px;
  font-family: "raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-azul);
  margin-right: 30px;
}

.top-button {
  font-weight: 500;
  color: var(--color-negro);
  text-decoration: none;
}

.top-button:hover,
.top-button:focus,
.top-button:active {
  color: var(--color-azul);
}

.active {
  color: var(--color-azul);
}

.studio-link,
.portfolio-link,
.contact-link {
  margin: 0 30px;
}

.top-contacts {
  min-width: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 215px;
}

.top-contact {
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  margin: 0 30px 0 7px;
}

.top-contact:hover,
.top-contact:focus {
  color: var(--color-azul);
}

/* Aqui termina el header */

/* Aqui comienza los botones de filtrado */

.button {
  font-weight: 700;
  color: var(--color-negro);
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  margin: 0 4px;
  padding: 0;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--color-azul);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  display: inline-block;
}

.all {
  width: 73px;
  height: 38px;
}

.web {
  width: 128px;
  height: 38px;
}

.apps {
  width: 145px;
  height: 38px;
}

.design {
  width: 103px;
  height: 38px;
}

.marketing {
  width: 130px;
  height: 38px;
}

/* Aqui termina los botones de filtrado */

/* Aqui comienza las imagenes (portfolio) */

.section-portfolio {
  padding: 94px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.portfolio-list {
  margin: 0;
  padding: 25px 0;
}

.work-section {
  width: 370px;
  height: 404px;
  display: flex;
  border: 1px solid #eeeeee;
  margin: 15px;
}

.image-potfolio {
  text-decoration: none;
}

.image-potfolio img {
  display: block;
}

.image-potfolio:hover,
.image-potfolio:focus,
.image-potfolio:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-images {
  font-size: 18px;
  font-weight: 900;
  color: var(--color-negro);
  padding-left: 20px;
}

.filter-description {
  font-size: 16px;
  color: var(--color-negro);
  padding-left: 20px;
}

/* Aqui termina las imagenes (portfolio) */

/* Aqui comienza seccion heroes (studio-index) */

.top-banner {
  width: 100%;
  height: 600px;
  background-color: var(--color-negro);
  text-align: center;
}

.slogan {
  margin: 0;
  padding: 200px 0 30px;
  font-weight: 700;
  font-size: 44px;
  color: #ffffff;
}

.request {
  width: 261px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--color-azul);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.request:hover,
.request:focus {
  background-color: #188ce8;
}

/* Aqui termina seccion heroes (studio-index) */

/* Aqui comienza valores corporativos (studio-index) */

.company-values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.container-value {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

.company-value {
  width: 270px;
  margin: 94px 15px 0 15px;
  display: inline-block;
}

.title-value {
  margin: 0;
  font-weight: 700;
  color: var(--color-negro);
}

.text-values {
  margin: 9px 0 0 0;
  line-height: 1.5em;
  color: var(--color-negro);
}

/* Aqui termina valores corporativos (studio-index) */

/* Aqui comienza what we do (studio-index) */

.wwd {
  width: 100%;
  text-align: center;
  padding: 100px 0 94px;
}

.wwd-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wwd-title {
  margin: 0 0 50px 0;
  font-size: 36px;
  font-weight: 700;
}

.wwd-images {
  margin: 0 15px 0;
}

.wwd-images img {
  display: block;
}

/* Aqui termina what we do (studio-index) */

/* Aqui comienza Our team (studio-index) */

.ot {
  padding: 50px 0 94px;
  width: 100%;
  background-color: #f5f4fa;
}

.ot-section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

ul.ot-team-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ot-team {
  background-color: #ffffff;
  width: 270px;
  height: 368px;
  display: inline-block;
  margin: 0 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.ot-team img {
  display: block;
}

.ot-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-negro);
  margin: 30px 0 10px;
}

.charge {
  margin: 0;
  font-size: 16px;
  color: var(--color-negro);
  text-align: center;
}

/* Aqui termina Our team (studio-index) */

/* Aqui comienza el footer */

footer {
  width: 100%;
  height: 252px;
  background-color: var(--color-negro);
}

.logo-footer {
  width: 145px;
  height: 31px;
  display: inline-block;
  font-family: "raleway", sans-serif;
  font-size: 26px;
  color: var(--color-azul);
  margin: 60px 0 9px 215px;
  text-decoration: none;
}

address {
  margin-left: 215px;
  color: #ffffff;
}

address ul {
  margin: 0;
  padding: 0;
}

.end-infos {
  list-style: none;
}

.end-info {
  font-style: normal;
  color: #ffffff;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.end-info:hover,
.end-info:focus {
  color: var(--color-azul);
}
